.idea/

.git/
/.gitignore

.dockerignore
Dockerfile

.npmrc
.npmignore

.nyc_output/
coverage/

Makefile

node_modules/
src/
test/
tsconfig.json
tslint.json

# source
**/*.test.ts

# definitions
!**/*.d.ts
!*.d.ts
